{% extends "paraphrase/base.html" %}

{% block content %}

<form action="{% url 'paraphrase' %}" method="get">
  <h2>Paraphrase Text</h2>
  <div class="mb-3">
    <label for="tree" class="form-label">Syntax Tree:</label>
    <textarea textarea class="form-control" type="text" name="tree" id="tree" rows="3" required></textarea>

  </div>
  <div class="mb-3">
    <label for="limit" class="form-label">Limit:</label>
    <input type="number" name="limit" id="limit" value="20">
  </div>

  <button type="button" class="btn btn-info" onclick="document.location='/'">Home</button>
  <button type="reset" class="btn btn-success" >Clear</button>
  <button type="submit" class="btn btn-primary">Paraphrase</button>

</form>

{% if paraphrases %}
<h2>Paraphrases:</h2>
<ul>
  {% for paraphrase in paraphrases %}
  <li>{{ paraphrase }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}